

<!--
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="" class="navbar-brand text-info fw-semibold fs-5">Alianza</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <section class="offcanvas offcanvas-start" id="menu" tabindex="-1">
        <div class="offcanvas-header" data-bs-theme="primary">
            <h5 class="offcanvas-title text-info">Alianza</h5>
            <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas">

            </button>
        </div>
        <div class="offcanvas-body">
            <ul>
                <li><a class="nav-link" href=""routerLink="/clients"><i class="fa fa-user"></i>Clients</a></li>
                <li><a class="nav-link" href="">Clients</a></li>
                <li><a class="nav-link" href="">Client look history</a></li>
                <li><a class="nav-link" href="">Emergency PIN<br>
                    configuration</a></li>
                <li><a class="nav-link" href="">Emergency PIN<br>
                    history</a></li>
            </ul>
        </div>
    </section>
</nav>
-->

<div class="container mx-3">
    
<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active mt-3" aria-current="page" routerLink="/clients"><i class="fa fa-user"></i>Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Client look history</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Emergency PIN<br>
            configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emergency PIN<br>
             history</a>
      </li>
   
  </ul>
</div>

 <!-- <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li> -->