<h1 class="mt-3">Alianza</h1>

<div class="row">
    <div class="col">
        <button class="btn btn-primary btn-sm mx-3" routerLink="/client">
            <i class="fa fa-plus"></i>
            New
        </button>

        <button type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-share"></i>
            Export
        </button>
    </div>
</div>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th scope="col">Shared Key</th>
            <th scope="col">Business ID</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Data added</th>
            <th scope="col"><i class="fa fa-pencil"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Primer nombre</td>
            <td>Primer nombre</td>
            <td>Primer nombre</td>
            <td>Primer nombre</td>
            <td>
                <button>
                    <i class="fa fa-pencil"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>