<div class="row">
    <div class="col">
        <form>
            <div class="form-group mt-3">
                <label>Name</label>
                <input type="text" class="for-control">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="for-control">
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="for-control">
            </div>
        </form>
    </div>
</div>

