

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  <i class="fa fa-plus"></i>
  New
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create New Client</h5>
       <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
        </button> -->        
      </div> 
      <div class="modal-body">
        <div class="card">
          <div class="card-body pt-4 pb-2">
        <div class="row">
            <div class="col modal-body">
                <form (ngSubmit)="guardar(c)" #c="ngForm" class="row g-3">
                    <div class="form-group mt-3">
                        <label>Name</label>
                        <input type="text" class="form-control" 
                        [(ngModel)]="client.businessId" name="businessId" required>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" 
                        [(ngModel)]="client.phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text" class="form-control" 
                        [(ngModel)]="client.email" name="email" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-sm mx-3">
                            Ok
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                    </div>
                    <!-- <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-sm" routerLink="/clients">
                            Ok
                        </button> 
                    </div> -->
                </form>
            </div>
        </div>
        </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
